<!DOCTYPE html>
<html lang="en"{% if html_class %}class="{{ html_class }}"{% endif %}>
	<head>{% include 'head.html' %}</head>
	<body>
		{% unless hide_header %}
			{% include 'header.html' %}
		{% endunless %}
		<main>
			{% if hide_sidebar %}
				{{ content }}
			{% else %}
				<row-stack>
					{% include 'sidebar.html' %} {% block content %} {{ content }} {%
					endblock %}
				</row-stack>
			{% endif %}
		</main>
		{% unless hide_footer %}
			{% include 'foot.html' %}
		{% endunless %}
		{% for script in script %}
		<script type="module" src="/script/{{script}}.js"></script>
		{% endfor %}
	</body>
</html>
