[submodule "tasks/coverage/css-tokenizer-tests"]
	path = coverage/css-tokenizer-tests
	url = https://github.com/romainmenke/css-tokenizer-tests
[submodule "tasks/coverage/postcss-parser-tests"]
	path = coverage/postcss-parser-tests
	url = https://github.com/postcss/postcss-parser-tests
