<footer>
	<div>
		<div>
			<h2>Documentation</h2>
			<ul>
				<li><a href="/docs/">What is csskit?</a></li>
				<li><a href="/docs/getting-started/">Getting Started</a></li>
			</ul>
		</div>
		<div>
			<h2>Community</h2>
			<ul>
				<li><a href="https://github.com/csskit/csskit">GitHub</a></li>
				<li><a href="https://github.com/csskit/csskit/issues">Issues</a></li>
				<li><a href="https://github.com/csskit/csskit/discussions">Discussions</a></li>
			</ul>
		</div>
		<div>
			<h2>Tools</h2>
			<ul>
				<li><a href="/playground/">Playground</a></li>
			</ul>
		</div>
	</div>
	<p>&copy; 2025 csskit.</p>
</footer>
