@import url("open-props/normalize.min.css");
@import url("open-props/open-props.min.css");
@import url("open-props/media.min.css");
@import url("openswatch/css/open-swatch.css");

@import url("tokens.css");
@import url("header.css");
@import url("side-nav.css");
@import url("markdown.css");
@import url("footer.css");
@import url("stacks.css");

@font-face {
	font-family: "Fredoka";
	font-style: normal;
	font-weight: 300 500 700;
	font-stretch: 100%;
	font-display: swap;
	src: url(/fonts/Fredoka-Variable.woff2) format("woff2");
}

:root {
	scroll-behavior: smooth;
	font-family: var(--font-display);
	font-size: 17px;
	color: var(--text-1);
}

html {
	background-color: var(--bg);
	background-image: linear-gradient(to top, var(--bg-overlay), var(--bg-overlay)), url(/images/background.svg);
	background-position: top left;
	background-size: auto, 300px;
	background-repeat: repeat, repeat;
}

:where(h1, h2, h3, h4, h5, h6) {
	font-family: var(--font-ui);
	font-weight: 400;
	letter-spacing: 0.02em;
}

nav ol {
	list-style: none;
}
