@import url("open-props/normalize.min.css");
@import url("open-props/open-props.min.css");
@import url("open-props/media.min.css");
@import url("openswatch/css/open-swatch.css");

@font-face {
	font-family: "Fredoka";
	font-style: normal;
	font-weight: 300 500 700;
	font-stretch: 100%;
	font-display: swap;
	src: url(/fonts/Fredoka-Variable.woff2) format("woff2");
	unicode-range:
		U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC,
		U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

:root {
	--color-lightness-inc: -/**/ 5.6%;
	--color-lightness-1: 98%;
	--color-chroma-inc: 0.056;
	--color-chroma-1: 0.02;
	--color-yellow-base: 101;
	--color-orange-base: 49.38;
	--color-magenta-base: 350;
	--color-green-base: 152.5;
	--accent: #639;
	--bg-overlay: hsl(0 0% 100% / 0.7);
	--bg: var(--sand-0);
	--outline: 3px solid var(--ink);
	--outline-thick: 4px solid var(--ink);
	--ink: var(--text-1);

	scroll-behavior: smooth;
	background:
		linear-gradient(to top, var(--bg-overlay), var(--bg-overlay)),
		url(/images/background.svg) top left / 300px var(--bg);

	font-family: Fredoka, Calibri, Candara, Segoe, "Segoe UI", Helvetica, sans-serif;
	font-size: 17px;
	color: var(--text-1);

	@media (prefers-color-scheme: dark) {
		--text-1: #f0ecf8;
		--text-2: #d4c8e8;
		--text-3: #bf5fff;
		--surface-1: #0e0e1c;
		--surface-2: #181828;
		--surface-3: #242438;
		--bg-overlay: hsl(220 18.4% 9.6% / 0.96);
		--bg: hsl(220 18.4% 9.6%);

		--outline: 3px solid var(--ink);
		--outline-thick: 4px solid var(--ink);

		color: var(--text-1);
	}
}

:where(h1, h2, h3, h4, h5, h6) {
	font-family: Fredoka, Fredoka, sans-serif;
	font-weight: 400;
	letter-spacing: 0.02em;
}

body > :where(row-stack, col-stack) {
	min-height: 100vh;
}

nav ol {
	list-style: none;
}

row-stack:not([popover]),
col-stack:not([popover]) {
	display: flex;
}

:where(col-stack) > :not([height]) {
	flex: 2;
}

:where(row-stack) > :not([width], a) {
	flex: 2;
}

row-stack {
	flex-direction: row;
	height: 100%;
}

col-stack {
	flex-direction: column;
	width: 100%;
}

.page-head {
	height: 100px;
	flex: 0;
	position: sticky;
	top: 0;
	background: var(--surface-1);
	z-index: 10;
	width: 100%;

	a {
		color: var(--text-1);
	}

	header {
		display: flex;
		flex-direction: row;
		align-items: center;

		a {
			display: block;
			margin: 0.75rem 2rem;

			&:first-child {
				flex-shrink: 0;
			}
		}
	}

	nav {
		display: flex;
		align-items: center;
		justify-content: end;
		margin: 0 1.5rem 0 0;

		ul {
			display: flex;
			flex-direction: row;
			gap: 1.5rem;
			align-items: center;
			list-style: none;
		}

		li {
			min-width: 2rem;
			display: flex;
			align-content: center;
			text-transform: uppercase;
		}

		svg {
			display: inline-block;
			width: 1rem;
			height: 1rem;
			flex-shrink: 0;
		}

		a {
			display: flex;
			gap: 0.5rem;
			font-family: Fredoka, sans-serif;
			font-size: 0.9rem;
			color: var(--text-2);
			align-items: center;
		}

		@media (max-width: 700px) {
			span {
				position: absolute;
				width: 1px;
				height: 1px;
				padding: 0;
				margin: -1px;
				overflow: hidden;
				clip: rect(0, 0, 0, 0);
				border: 0;
			}
		}
	}
}

.get-started-button[class] {
	display: none;
}

.side-nav {
	flex: initial;
	width: 90vw;
	height: 100%;
	padding: 2rem 0 0;
	flex-shrink: 0;
	overflow-x: hidden;
	background: var(--surface-1);

	&::backdrop {
		background: rgba(0, 0, 0, 0.6);
	}

	@media (width >= 768px) {
		padding: 0;
		display: flex;
		width: 25ch;
		height: auto;
		inset: auto;
		position: static;
		background: none;
	}

	nav {
		ol {
			padding: 1rem 1rem 1rem 0.5rem;
			display: flex;
			flex-direction: column;
			gap: 0.5rem;
			align-items: center;
		}

		:where(a, li) {
			display: block;
			padding: 0;
			width: 100%;
		}

		li {
			&.nav-section {
				font-family: Fredoka, sans-serif;
				font-size: var(--font-size-1);
				color: var(--text-2);
				margin: 1.5rem 0 0.5rem 0;
				padding: 0 1rem;
				letter-spacing: 0.1em;
			}
		}

		a {
			color: var(--text-1);
			padding: 0.5rem 1rem;
			margin-left: 0.5rem;
			border-radius: 0;
			font-family: Fredoka, sans-serif;
			&:hover {
				border-radius: var(--radius-3);
				background: var(--purple-6);
				color: var(--purple-1);
				text-decoration: none;
			}
		}

		[active] > a {
			border-radius: var(--radius-3);
			background: var(--accent);
			color: var(--purple-1);
		}
	}
}

.page-head .side-nav-button {
	button {
		appearance: none;
		background: none;
		width: 2rem;
		cursor: pointer;
	}

	@media (width >= 768px) {
		display: none;
	}
}

.markdown {
	padding: 1rem;
	max-width: 100vw;

	:where(h2, h3, h4, h5, h6) {
		font-family: Fredoka, sans-serif;
		color: var(--text-3);
		font-size: 1.5rem;
		margin: 2.5rem 0 1rem -0.5rem;
		letter-spacing: 0.02em;
	}

	h1 {
		color: var(--text-2);
		font-size: 3.5rem;
		margin: 0 0 2rem -0.5rem;
	}

	h2 {
		font-size: 2.5rem;
	}

	h3 {
		font-size: 2rem;
	}

	pre[class*="language-"] {
		display: block;
		padding: 2rem 2rem;
		max-inline-size: none;
		width: 80ch;
		margin: 2rem 0 2rem 0;
		overflow-x: auto;
		background: var(--slate-12);
		color: var(--text-1);
	}

	code,
	pre {
		font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
		font-size: 0.9rem;
	}

	details {
		width: 100%;
	}

	details > pre {
		width: max(100vw, 100%);
		margin: 0;
	}

	:where(p, li, figcaption) {
		font-size: 1rem;
		max-inline-size: 80ch;
		margin: 1rem 0;
	}

	li:has(> b:first-child) {
		list-style: none;
		b {
			margin: 0 0.3rem 0 -2rem;
		}
	}

	.markdown-alert {
		background: var(--surface-2);
		display: block;
		padding: 1rem 2rem;
		max-width: 80ch;
		border: var(--outline);

		.markdown-alert-title {
			font-weight: 600;
			font-size: var(--font-size-3);
			font-family: Fredoka, sans-serif;
		}

		&.markdown-alert-tip {
			background: light-dark(var(--green-2), var(--green-10));
			border-color: light-dark(var(--green-9), var(--green-12));
			.markdown-alert-title {
				color: light-dark(var(--green-12), var(--green-2));
			}
		}
		&.markdown-alert-note {
			background: light-dark(var(--blue-2), var(--blue-10));
			border-color: light-dark(var(--blue-9), var(--blue-12));
			.markdown-alert-title {
				color: light-dark(var(--blue-12), var(--blue-2));
			}
		}
		&.markdown-alert-warning {
			background: light-dark(var(--yellow-2), var(--yellow-10));
			border-color: light-dark(var(--yellow-9), var(--yellow-12));
			.markdown-alert-title {
				color: light-dark(var(--yellow-12), var(--yellow-2));
			}
		}
		&.markdown-alert-important {
			background: light-dark(var(--orange-2), var(--orange-10));
			border-color: light-dark(var(--orange-9), var(--orange-12));
			.markdown-alert-title {
				color: light-dark(var(--orange-12), var(--orange-2));
			}
		}
		&.markdown-alert-caution {
			background: light-dark(var(--red-2), var(--red-10));
			border-color: light-dark(var(--red-9), var(--red-12));
			.markdown-alert-title {
				color: light-dark(var(--red-12), var(--red-2));
			}
		}
	}
}

footer {
	border-top: 2px solid var(--green-12);
	margin-block-start: 4rem;
	padding: 2rem 2rem 0;
	background: light-dark(var(--green-2), var(--green-11));

	& > p {
		text-align: center;
		margin: 1rem -2rem;
		padding: 1rem;
		max-width: calc(100% + 6rem);
		border-top: 2px solid var(--yellow-12);
		color: var(--text-1);
		font-size: var(--font-size-1);
		background: light-dark(var(--yellow-2), var(--yellow-10));
	}

	& > div {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
		gap: 2rem;

		h2 {
			color: var(--text-2);
			font-weight: 400;
			margin-bottom: 1rem;
			font-size: var(--font-size-3);
		}

		ul {
			list-style: none;
			padding: 0;
			margin: 0;
		}

		li {
			margin-bottom: 0.5rem;
		}

		a {
			color: var(--text-1);
			text-decoration: none;
			font-family: Fredoka, sans-serif;
			transition: color 0.1s ease;

			&:hover {
				color: var(--accent);
			}
		}
	}
}
